.toy-photo {
    max-width: 100%;
    height: auto; /* Ensure the photo scales properly */
  }
  .toy-container {
    text-align: center; /* Center the content */
  }
  
  .toy-name,.heading-color {
    color: blue; /* Change to your desired color */
    margin-bottom: 10px; /* Add some space below the toy name */
  }
  
  .toy-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items within the toy-card */
  }